body {
  margin: 0;
  padding: 0;
  background-color: #fdffb6;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: yellowgreen;
  margin: 2rem;
  padding: 1rem;
}

.blog-title {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 30px;
  padding: 1rem;
  display: inline-flex;
  background-color: blue;
}

.topnav {
  display: inline-flex;
}

.navbar a {
  text-decoration: none;
  color: black;
  text-align: right;
  padding: 2rem;
  background-color: blue;
}

.topnav a:hover {
  background-color: red;
}
